* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      background-color: beige;
  }
  
  .schedule-container {
    width: 90%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color:#ffe0b2; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
  }
  
  .schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #ffffff; 
  }
  
  .schedule-table caption {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 10px;
  }
  
  .schedule-table th,
  .schedule-table td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ddd;
  }
  
  .schedule-table thead th {
      background-color: #4caf50;
      color: #fff;
  }
  
  .schedule-table tbody tr:nth-child(even) {
      background-color: #f9f9f9;
  }
  
  .schedule-table tbody tr:hover {
      background-color: #e0f7fa;
  }
  
  .schedule-table tbody td:first-child {
      font-weight: bold;
      color: #333;
  }
  
  .weekend-schedule thead th {
      background-color: #ff7043;
      color: #fff;
  }
  
  .weekend-schedule tbody td {
      background-color: #fff8f0;
  }
  
  .weekend-schedule  {
      background-color: #ffe0b2;
  }
  .weekend-schedule tbody tr:hover {
    background-color: #ffe0b2;
  }
  .weekend-schedule tbody td:first-child {
    width: 150px;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.modal-content input {
    margin: 10px 0;
    width: 80%;
    padding: 8px;
}


  